
{% extends "base.html" %}
{% block texto_h1 %} Listado de Planes{% endblock texto_h1 %}

{% block contenido %}

    <form action="" method="GET">

        {{formulario}}

        <input type="submit" value="Buscar">
    </form>

    {% if autos_buscados %}
        <ul>
            {% for auto in autos_buscados %}
                <li>
                    {{auto}}
                    | <a href={% url "auto_detalle" auto.id %}>Detalle</a> 
                    | <a href={% url "auto_actualizar" auto.id %}>Actualizar</a> 
                    | <a href={% url "auto_borrar" auto.id %}>Borrar</a> 
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay datos.</p>
    {% endif %}

{% endblock contenido %}